@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600;6..12,1000&family=Nunito:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #1d1d1d;
    background-image: url(assets/images/backg.png);
}

header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 3;
}

.linkHeader, .linkHeader::after{
    text-decoration: none;
    color: #000;
}

.allItemsHeader {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    height: 100%;
}

.itemHeader {
    color: #000;
}

li {
    list-style-type: none;
}

.getInTouchButtonHeader {
    color: #000;
    padding: 12px;
    border-radius: 8px;
    border: 1pt solid #000;
    position: absolute;
    right: 36px;
    cursor: pointer;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 50px;
}

.getInTouchButtonHeader:hover {
    color: #fff;
    border: 1pt solid #fff;
    background: linear-gradient(90deg, #35B4ED, #A000F3);
    transition: .5s ease;
    transform: scale(105%);
}
  
.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    cursor: pointer;
}
  
.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
    width: 100%;
}

.section1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#backgroundVideoSection1 {
    width: 100%;
    height: calc(100%);
    object-fit: cover;
    filter: blur(25px);
}

.section2 {
    display: flex;
}

.rightSideSection2 {
    height: 100px;
    width: 50%;
    opacity: 0;
}

.leftSideSection2 {
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

.titleSection2 {
    background: linear-gradient(270deg, #F00C5F -4.05%, rgba(255, 255, 255, 0.95) 132.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 51px;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
    max-width: 694px;

}

.titleList {
    display: flex;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 8px;
}

.textList {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    max-width: 500px;
    padding-bottom: 24px;
    flex-shrink: 0;
}

.listDivParent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.listDiv {
    border-bottom: 1pt solid #fff;
    width: fit-content;
}

.rightSideSection2 {
    background-image: url(assets/images/fotosecao2.png);
    background-size: cover;
    height: 80vh;
    opacity: 0;
}

.rightSideSection3 {
    width: 50%;
    background-image: url(assets/images/fotosection3.png);
    background-size: cover;
    height: 80vh;
    opacity: 0;
}

.titleSection3 {
    max-width: 694px;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 51px;
    font-weight: 900;
    line-height: 65px;
    background: linear-gradient(99deg, #35B4ED 42.87%, rgba(255, 255, 255, 0.72) 113.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rightSideSection4 {
    width: 50%;
    background-image: url(assets/images/fotosection4.png);
    background-size: cover;
    height: 80vh;
    opacity: 0;
}

.titleSection4 {
    max-width: 694px;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 51px;
    font-weight: 900;
    line-height: 65px; /* 127.451% */
    background: linear-gradient(270deg, #A000F3 0.16%, rgba(255, 255, 255, 0.72) 135.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardSectionCard {
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    gap: 16px;
    cursor: pointer;
    transition: .5s ease;
}

.cardSectionCard:hover {
    color: #fff !important;
    background: linear-gradient(90deg, #35B4ED, #A000F3);
    transition: .5s ease;
    transform: scale(102%);
}

.cardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    height: 60vh;
    opacity: 0;
}

#aviao {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
}

.cardtext {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 17px;
    width: 120px;
}

.cardInSection {
    display: flex;
    gap: 24px;
}

.swiper {
    width: 80%;
    height: 360px;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.lastSection {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    position: relative;
    bottom: 60px;
}

.divLogo {
    position: absolute;
    z-index: 1;
    width: 30%;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.todosOsDireitos {
    font-weight: 700;
}

.reservedSymbol {
    font-weight: 900;
    border: 1pt solid black;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.menuMobileIcon {
    display: none;
    width: 24px;
}
.menuMobileModalBG {
    display: none;
}

.menuMobile {
    display: none;
}

.menuMobileActive {
    width: fit-content;
    height: fit-content;
    position: fixed;
    background-color: white;
    z-index: 6;
    right: 0;
    display: flex !important;
    justify-content: flex-end;
    padding: 48px;
}

.navigationButtonSwiper {
    color: white;
    margin: 56px;
}

.horizontalLineMenuMobile {
    width: 120px;
    height: 1px;
    background-color: #000;
}

.menuMobileModalBGActive {
    background-color: #000000a6;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: flex !important;
}

/* estilos para mobile */

@media screen and (max-width: 1000px){
    header {
        height: 60px;
        justify-content: flex-end;
        padding: 24px;
    }
    
    .allItemsHeader {
        display: none;
    }

    .getInTouchButtonHeader {
        display: none;
    }

    .menuMobileIcon {
        display: inline;
    }

    .allItemsHeaderMobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .section2 {
        flex-direction: column;
    }

    .leftSideSection2 {
        width: 100%;
        order: 2;
    }

    .rightSideSection2 {
        width: 100%;
        order: 1;
    }

    .rightSideSection4 {
        width: 100%;
        margin: 40px 0;
    }
    
    .rightSideSection3 {
        width: 100%;
    }

    /* #secao2direita {
        display: none;
    } */

    #secao3direita {
        display: none;
    }

    /* #secao4direita {
        display: none;
    } */

    .leftSideSection2 {
        height: fit-content;
        width: 80%;
        gap: 40px;
        margin: auto;
        margin-top: 48px;
    }
}

@media screen and (max-width: 700px) {
    .divLogo {
        width: 80%;
    }

    .cardSection {
        display: none;
    }

    .navigationButtonSwiper {
        display: none;
    }
}